body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1{
  color: #c4c8ce;
}


.conteiner{
  width: 400px;
  height: 400px;
  display: block;
}

.editor{
  width: 400px;
}

.preview{
  left: 20px;
  display: block;
  overflow-y: scroll;
  color: #c4c8ce;
  height: 300px;
  margin-top: 50px;
  width: 400px;
  border-radius: 0 .75rem .75rem .75rem;
  padding: .375rem .5rem .75rem;
    background-color: #2d323a;
    border-radius: 20px;  
} 

.hideEditor {
  display:  none;
}


.custom-toolbar{
  background-color: #13161c !important;

  color: white !important;
}

.custom-toolbar .mde-tabs button{
  color: #87909d !important;
}


.custom-textarea{
  background-color: #08090b !important;
  color: #87909d !important;

}
.custom-toolbar .mde-header-group .mde-header-item button{
  color: #87909d !important;
}

.custom-react-mde{
  color: white  !important;
}


.custom-preview{
  height: 400px;
  overflow: scroll;
  background-color: transparent;
}

.custom-preview pre{
  background-color: transparent !important;
}


#edit{
background-color: #ffffff;
  background-image: url(../../imgs/pencil3.png);
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: none;
  position: relative;
  background-position: center;
  top: 20px;
  left: 160px;
  padding: .5625rem;
  border-radius: 10px;
  background-repeat: no-repeat;
}

#edit:hover{
  cursor: pointer;
  background-color: #c4c8ce;
  transition: all .2s ease-in-out; 
}
#send{
  background-color: #ffffff;
  background-image: url(../../imgs/send.png);
  width: 50px;
  height: 50px;
  padding: .5625rem;
  border-radius: 10px;
  background-position: center;
  transform: rotateX('90');
  border: none;
  margin-left: 5px;
  background-repeat: no-repeat;
}



.talk{
  background-color: #ffffff;
  background-image: url(../../imgs/microphone.png);
  width: 50px;
  height: 50px;
  margin-left: 20px;
  padding: .5625rem;
  border-radius: 10px;
  background-position: center;
  transform: rotateX('90');
  border: none;
  
  background-repeat: no-repeat;
}


.talking{
  background-color: greenyellow !important;
}

.talk:hover{
  cursor: pointer;
  background-color: #c4c8ce;
  transition: all .2s ease-in-out;
}


#send:hover{
  cursor: pointer;
  background-color: #c4c8ce;
  transition: all .2s ease-in-out;
}
